@use "variables" as *;

// Breakpoints
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//reset default element margins/paddings
@mixin fit {
  margin: 0;
  padding: 0;
}

@mixin overlay($color, $opacity) {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    opacity: $opacity;
    pointer-events: none; 
  }
}