@use "typography" as *;

//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//fonts
$font-header: "Prata";
$font-body: "Apercu";
$font-logo: "Merienda";
$font-bodyPro: "ApercuPro";


//colors
$gG-blue: #020852;
$gG-lightBeige: #FAF6F2;
$gG-beige: #F7EEE5;
$gG-pink: #FBCFC4; 


