@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  z-index: 1;
img {
  height: 12rem;
  width: 12rem;
  background-color: transparent;
}
&__logo {
  margin-left: 1.3rem;
    z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
 
}
  &__navOptionEl {
    img {
      height: 1.3rem;
      width: 1.3rem;
    }
  }
  &__navbar {
    height: 5rem;
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
    padding-top: 0.8rem;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: white;
  }
  &__navOptionEl {
    background-color: $gG-lightBeige;
    padding: 0.3rem;
    padding-top: 0.5rem;
    border-radius: 30%;
    margin-right: 1.7rem;
    margin-top: 0.8rem;
  }
}
