@font-face {
    font-family: "Prata";
    src: url("../assets/fonts/Prata-Regular.ttf") format("opentype");
    font-weight: 400;
  }
  @font-face {
    font-family: "Apercu";
    src: url("../assets/fonts/Apercu_Regular.otf") format("opentype");
    font-weight: 400;
  }