@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.landing {
  &__bg {
    @include fit;
    display: flex;
    flex-direction: column;
    background: url(../../assets/images/bg1.jpg);
    height: 40rem;
    z-index: 0;
    background-size: cover;
  }
  &__bg2 {
    background: url(../../assets/images/bg2.jpg);
    z-index: 1;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: -4.5rem;
    height: 17rem;
    position: relative;
  }
  &__button {
    font-size: 1rem;
    font-family: $font-body;
  }
  &__logo {
    font-family: "Merienda", cursive;
    font-size: 2rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
  }
}
