@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main {
  @include fit;
  margin-top: -5.5rem;
  position: relative;
  z-index: 0;
  height: 100%;
  background-color: $gG-lightBeige;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.container {
  @include fit;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.card {
  img {
    height: 1.1rem;
    width: 1.1rem;
  }
  padding: 1.2rem;
  padding-right: 0;
  font-family: $font-body;
  background-color: white;
  margin-bottom: 2rem;
  color: $gG-blue;
  border-radius: 1rem;
  width: 55%;
  position: relative;

  &:hover,
  &.selected {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &__brandValue {
    font-size: 0.9rem;
    font-style: italic;
  }
  &__content,
  &__categoryContent {
    padding-top: 0.7rem;
    display: flex;
    gap: 0.3rem;
    font-family: "ApercuMedium";
    font-size: 0.9rem;
    width: 70%;
  }

  &__last {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    border-radius: 0.8rem;
    width: 40%;
    height: 1.6rem;
    background-color: transparent;
    border: 1px solid $gG-blue;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    &:hover,
    &.selected {
      transform: scale(1.05);
      color: white;
      background-color: $gG-blue;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }
  &__buttonEl {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
  }
  &__buttonIcon img {
    flex-grow: 1;
  }
  &__buttonIcon {
    margin-top: 0.5rem;
  }
  &__heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    &:hover,
    &.selected {
      background-image: url(../../assets/icons/redHeart.svg);
      background-size: contain;
    }
  }
}
.categories {
  display: flex;
  gap: 1rem;
  padding-left: 2rem;
  &__button {
    border-radius: 0.8rem;
    width: 8rem;
    height: 1.6rem;
    background-color: transparent;
    border: none;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    &:hover,
    &.selected {
      transform: scale(1.05);
      color: white;
      background-color: $gG-blue;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }
  &__buttonsLabel {
    font-family: $font-body;
    font-size: 0.9rem;
    padding-top: 1rem;
    padding-left: 1.2rem;
    padding-bottom: 0.7rem;
  }
}
.cardsAndAboutEl {
  display: flex;
  flex-direction: row-reverse;
}
.aboutContainer {
  width: 37%;
  height: fit-content;
  position: relative;
  padding: 1rem;

  &::before {
    content: "";
    background-image: url(../../assets/images/products.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 0;
    border-top-left-radius: 13%;
    border-bottom-left-radius: 5%;
  }
  &__content {
    position: relative;
    z-index: 1;
    padding: 1.25rem;
    color: #000;
    font-size: 0.9rem;
    font-family: "Prata";
    line-height: 1.5rem;
    color: $gG-blue;
  }
  &__title {
    font-weight: bolder;
    font-style: italic;
    font-size: 1rem;
    padding-bottom: 0.75rem;
  }
}
.search {
    padding-left: 7rem;
    padding-bottom: 1.5rem;
}
